<h1>Editar <%= @team.name %></h1>

<%= link_to 'Adicionar Membro', '#' %>
<%= link_to 'Adicionar ferramentao', '#' %>
<%= link_to 'Remover Membro', team_remove_member_path(@team) %>
<%= link_to 'Show', @team %> |
<%= link_to 'Voltar', teams_path %>
<%= link_to 'Remover ferramenta', '#' %>
<%= link_to 'Editar ferramenta', '#' %>
