<%= form_for([@team, tool]) do |form| %>
  <% if tool.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tool.errors.count, "error") %> prohibited this tool from being saved:</h2>

      <ul>
      <% tool.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity, id: :tool_quantity %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :tool_description %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :tool_name %>
  </div>

  <div class="field">
    <%= form.label :photo %>
    <%= form.text_field :photo, id: :tool_photo %>
  </div>

  <div class="field">
    <%= form.label :team_id %><br/>
    <%= form.select :team_id, Team.all.order(:name).collect{|s|[s.name, s.id]} %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
