<%= form_with(model: tool, local: true) do |form| %>
  <% if tool.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tool.errors.count, "error") %> prohibited this tool from being saved:</h2>

      <ul>
      <% tool.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :tool_name %>
  </div>

  <div class="field">
    <%= form.label :team_id %>
    <%#= form.number_field :team_id, id: :tool_team_id %>
    <%= form.select:team_id,Team.all.collect{|s|[s.name, s.id]} %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity, id: :tool_quantity %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%#= form.text_field :state, id: :tool_state %>
    <%= form.select :state, [ ['Available', 'Available'], ['Not Available', 'Not Available'] ]%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
