<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tool.name %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @tool.photo %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tool.description %>
</p>

<p>
  <strong>Team:</strong>
  <%= Team.find(@tool.team_id).name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @tool.quantity %>
</p>


<%= link_to 'Edit', edit_team_tool_path(@team, @tool) %> |
<%= link_to 'Back', tools_path %>
