<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tool.name %>
</p>

<p>
  <strong>Team:</strong>
  <%= @tool.team_id %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @tool.quantity %>
</p>

<p>
  <strong>State:</strong>
  <%= @tool.state %>
</p>

<%= link_to 'Edit', edit_tool_path(@tool) %> |
<%= link_to 'Back', tools_path %>
