<p id="notice"><%= notice %></p>

<h1>Loans</h1>

<table>
  <thead>
    <tr>
      <th>Id borrower</th>
      <th>Id owner</th>
      <th>Returned</th>
      <th>Accepted</th>
      <th>Date start</th>
      <th>Date end</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @loans.each do |loan| %>
      <tr>
        <td><%= loan.id_borrower %></td>
        <td><%= loan.id_owner %></td>
        <td><%= loan.returned %></td>
        <td><%= loan.accepted %></td>
        <td><%= loan.date_start %></td>
        <td><%= loan.date_end %></td>
        <td><%= link_to 'Show', loan %></td>
        <td><%= link_to 'Edit', edit_loan_path(loan) %></td>
        <td><%= link_to 'Destroy', loan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Loan', new_loan_path %>
