<p id="notice"><%= notice %></p>

<p>
  <strong>Id borrower:</strong>
  <%= @loan.id_borrower %>
</p>

<p>
  <strong>Id owner:</strong>
  <%= @loan.id_owner %>
</p>

<p>
  <strong>Returned:</strong>
  <%= @loan.returned %>
</p>

<p>
  <strong>Accepted:</strong>
  <%= @loan.accepted %>
</p>

<p>
  <strong>Start:</strong>
  <%= @loan.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @loan.end %>
</p>

<%= link_to 'Edit', edit_loan_path(@loan) %> |
<%= link_to 'Back', loans_path %>
